<div id="container">
  <h1>ToDo App</h1>
  <div class="box">
    <form
      nz-form
      [nzLayout]="'inline'"
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item style="width: 89%">
        <nz-form-control nzErrorTip="Please add a todo">
          <nz-input-group>
            <input
              style="border-radius: 5px"
              formControlName="list"
              nz-input
              placeholder="Add a Todo"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button
            nz-button
            nzType="primary"
            nzShape="circle"
            [disabled]="!validateForm.valid"
          >
            <span nz-icon nzType="plus" nzTheme="outline"></span>
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
    <br />
    <br />
    <div style="width: 99%; border: 1px solid rgb(191, 191, 191);">
        <nz-table
        [nzBordered]="true"
        [nzData]="listOfData"
        nzSize="small"
        [nzOuterBordered]="true"
        [nzShowPagination]="false"
        [nzScroll]="{  y: '340px' }"
      >
        <thead>
          <tr>
            <th *ngFor="let column of listOfColumns" style="text-align: center;">
              {{ column.name }}
            </th>
            <th style="text-align: center;">Action</th>
          </tr>
        </thead>
        <tbody style="text-align: center;">
          <tr *ngFor="let data of listOfData">
            <td>{{ data.id }}</td>
            <td>{{ data.list }}</td>
            <td>
              <button
                id="btn"
                nz-button
                nzType="primary"
                nzShape="circle"
                (click)="deleteTodo(data.id)"
              >
                <svg
                  width="18px"
                  height="23px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g id="SVGRepo_iconCarrier">
                    <path
                      d="M10 11V17"
                      stroke="#ffffff"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M14 11V17"
                      stroke="#ffffff"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M4 7H20"
                      stroke="#ffffff"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M6 7H12H18V18C18 19.6569 16.6569 21 15 21H9C7.34315 21 6 19.6569 6 18V7Z"
                      stroke="#ffffff"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z"
                      stroke="#ffffff"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </g>
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <div>
  <button *ngIf="!chg" nz-button nzType="primary" nzShape="circle" (click)="click()">
    <span  nz-icon nzType="android" nzTheme="outline"></span>
  </button>
  <button *ngIf="chg" nz-button nzType="primary" nzShape="circle" (click)="click1()">
    <span  nz-icon nzType="apple" nzTheme="outline"></span>
  </button>
</div>
</div>
